<div class="bg">
<button mat-button (click)="openDialog()">Open dialog</button>
    <br/>
    <label>Please Enter the Parent Name: </label> 
    <br/>

    <input class="" type="text" [(ngModel)]='name'> <br><br>

    <label for="">My Child name is: </label>
    {{childName}}
    <app-state-detail [parentName]='name' (onNameChange)='onChildNameChange($event)'> </app-state-detail>

</div>
    <!-- <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Name <span class="float-right"></span></th>
                <th>Size</th>
                <th>Area (Km<sup>2</sup>)</th>
                <th>Density (Km<sup>2</sup>)</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let pop of populationGetDetails">
                <td>{{pop.state}}</td>
                <td [ngClass]="getClass(pop.populationDensity)">{{pop.population | number:'1.0-3'}}</td>
                <td>{{pop.areaSquare | number:'1.0-3'}}</td>
                <td [ngClass]="getClass(pop.populationDensity)">{{pop.populationDensity | number:'1.0-3'}}</td>
            </tr>
        </tbody>
    </table> -->